<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="This is an appointment website for students to contact experts in Science.">
	<meta name="Keywords" content="Science, Appointment, Scientists">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Deadly Science - connecting students with scientists</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="../css/style.css">

	<style type="text/css">
		#company-image {
			text-align: center;
		}
	</style>
</head>

<body>

	<div class="container-fluid">
		<header>
			<!--Contact Info-->
			<div class="contact">
				<div class="alert alert-info alert-warning alert-dismissible fade show" role="alert" style="margin: 0;">
					<span>Phone: <strong>+00 000 000 000 </strong>|</span>
					<span>Eamil: <a href="mailto:DeadlyScience@gmail.com?subject=feedback"
							class="alert-link">DeadlyScience@gmail.com</a></span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>

			<!--Menu Bar-->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<!--Logo-->
				<a class="navbar-brand" href="index.html">
					<img src="../images/logo.png" alt="Deadly Science Logo" height="60px">
				</a>

				<!--Catalog-->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="manageApp-current.html">Manage Appointments</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="account-profile.html" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								My Account
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="account-profile.html">Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="account-pw.html">Change Password</a>
							</div>
						</li>
					</ul>

					<!--Right-->
					<div>
						<span>
							<a href="https://twitter.com/DeadlyScience" target="_blank">
								<button class="btn btn-outline-light my-2 my-sm-0" type="button">Follow Us</button>
							</a>
						</span>
						<span><a href="#" target="_blank"><img src="../images/twitterLogo.png" alt="Twitter Logo"
									height="40px"></a></span>
					</div>
				</div>
			</nav>

			<!--Company image-->
			<div id="company-image">
				<img src="../images/Cpmpany-1200x400.jpeg" class="img-fluid" alt="Deadly Science"
					title="Welcome to Deadly Science">
			</div>
		</header>

		<main>
			<!--Page location-->
			<div class="page-nav-all">
				<div class="page-nav">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Manage Appointments</li>
						</ol>
					</nav>
				</div>

				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link" href="manageApp-current.html">Current</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="manageApp-history.html">History</a>
						</li>
					</ul>
				</div>
			</div>


			<!--Browse button-->
			<div id="browse">
				<a href="../pages/index.html"><button class="btn btn-dark">Browse More Scientists</button></a>
			</div>

			<div class="container" style="margin-top: 20px;">
				<div class="row justify-content-between">
					<!--Left box-->
					<div class="col-5">
						<dl class="row">
							<dt class="col-sm-3">Name</dt>
							<dd class="col-sm-9">Anna Aksamit</dd>

							<dt class="col-sm-3">Title</dt>
							<dd class="col-sm-9">Professor</dd>

							<dt class="col-sm-3">Field</dt>
							<dd class="col-sm-9">Mathematics</dd>

							<dt class="col-sm-3">Time</dt>
							<dd class="col-sm-9">Thu 12/09/19 at 1:00PM</dd>

							<dt class="col-sm-3">Method</dt>
							<dd class="col-sm-9">Skype</dd>
						</dl>
					</div>


					<!--Right box-->
					<div class="col-5">
						<dl class="row">
							<dt class="col-sm-3">Name</dt>
							<dd class="col-sm-9">Anna Aksamit</dd>

							<dt class="col-sm-3">Title</dt>
							<dd class="col-sm-9">Professor</dd>

							<dt class="col-sm-3">Field</dt>
							<dd class="col-sm-9">Mathematics</dd>

							<dt class="col-sm-3">Time</dt>
							<dd class="col-sm-9">Thu 12/09/19 at 1:00PM</dd>

							<dt class="col-sm-3">Method</dt>
							<dd class="col-sm-9">Skype</dd>
						</dl>
					</div>
				</div>
			</div>
		</main>

	</div>



	<!--Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>