<!doctype html>
<html>
 {% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is an appointment website for students to contact experts in Science.">
    <meta name="Keywords" content="Science, Appointment, Scientists">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Account-Change Password</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="../js/main.js"></script>

</head>
  <script>
      function foo(){
        if(confirm("Are you sure you want to change your password?")){
            return true;
        }
        return false;
        }
 </script>

<body>
    <div class="container-fluid">
        <!--Header-->
        <header>
            <!--Contact Info-->
            <div class="contact">
                <div class="alert alert-info alert-dismissible fade show" role="alert" style="margin: 0;">
                    <span>Phone: <strong>+00 000 000 000 </strong>|</span>
                    <span>Email: <a href="mailto:DeadlyScience@gmail.com?subject=feedback"
                            class="alert-link">DeadlyScience@gmail.com</a></span>
                    <span>Current User: {{ request.session.user_name }} </span>
                    {% if not request.session.user_name == none %}
                        {% if not unread_message.count == 0 %}
                    <a href="{% url 'manageApp-current'%}">
                    <button class="btn btn-primary" type="button">
                        New Messages <span class="badge">{{ unread_message.count }}</span>
                        </button>
                   </a>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <!--Menu Bar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <!--Logo-->
                <a class="navbar-brand" href="{% url 'home'%}">
                    <img src="{% static 'images/logo.png' %}" alt="Deadly Science Logo" height="60px">
                </a>

                <!--Catalog-->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'manageApp-current'%}">Manage Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about'%}">About</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="{% url 'account-profile'%}" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'account-profile'%}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account-pw'%}">Change Password</a>
                            </div>
                        </li>
                    </ul>

                    <!--Right-->
                    <div>
                        <span>
                            {% if not request.session.user_name == none %}
                             <a href="{% url 'logout'%}" class="btn btn-outline-light my-2 my-sm-0" >Log out</a>
                            {% endif %}
                             {% if request.session.user_name == none %}
							<button class="btn btn-outline-light my-2 my-sm-0" type="button" data-toggle="modal"
								data-target="#loginModal"
								onclick="document.getElementById('id02').style.display='block'">Sign Up</button>
                            {% endif %}
						</span>
						<span>
                             {% if request.session.user_name == none %}
							<button class="btn btn-outline-light my-2 my-sm-0" type="button"
								onclick="document.getElementById('id01').style.display='block'">Log In</button>
                            {% endif %}
						</span>
						<span>
							<a href="https://twitter.com/DeadlyScience" target="_blank">
								<button class="btn btn-outline-light my-2 my-sm-0" type="button">Follow Us</button>
							</a>
						</span>
						<span><a href="https://twitter.com/DeadlyScience" target="_blank"><img src="{% static 'images/twitterLogo.png' %}" alt="Twitter Logo" height="40px"></a>
						</span>
                    </div>
                </div>
            </nav>

            <!--Company image-->
            <div class="company-image">
                <img src="{% static 'images/Cpmpany-1200x400.jpeg' %}" class="img-fluid" alt="Deadly Science"
                    title="Welcome to Deadly Science">
            </div>
        </header>

        <!--Content-->
        <main style="margin:0 20px;">
            <!--Page location-->
            <div class="page-nav-all">
                <div class="page-nav">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </nav>
                </div>

                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account-profile'%}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'account-pw'%}">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Main Content-->
            <div class="container" style="width: 800px; margin-top: 100px;">
                <form class="needs-validation" action="/change_password/" method="post">
                {% csrf_token %}

                    <!--Row 1-->
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="NewPw">New Password</label>
                        </div>
                        <div class="form-group col">
                            <input type="password" class="form-control" name="NewPw" placeholder="Enter Password">
                        </div>
                    </div>

                    <!--Row 2-->
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="ConfirmPw">Confirm Password</label>
                        </div>
                        <div class="form-group col">
                            <input type="password" class="form-control" name="ConfirmPw" placeholder="Confirm Password">
                        </div>
                    </div>

                    <!--Button-->
                    <div style="text-align: center; margin-top: 40px">
                        <button type="submit" onclick="return foo();" class="btn btn-primary">Save Change</button>
                    </div>
                </form>
            </div>
        </main>
    </div>


    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>