<!doctype html>
<html>
 {% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<meta name="description" content="This is an appointment website for students to contact experts in Science.">
	<meta name="Keywords" content="Science, Appointment, Scientists">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Deadly Science - connecting students with scientists</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>


	<!-- google jQuery
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs
/jquery/1.4.0/jquery.min.js"></script>

 -->
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<!--Logo-->
			<a class="navbar-brand" href="{% url 'home'%}">
				<img src="{% static 'images/logo.png' %}" alt="Deadly Science Logo" height="60px">
			</a>

			<!--Navbar-->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a>
					</li>
					{% if not request.session.user_name == none %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'manageApp-current'%}">Manage Appointments</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about'%}">About</a>
					</li>
					{% if not request.session.user_name == none %}
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle" href="{% url 'account-profile'%}" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							My Account
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'account-profile'%}">Profile</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'account-pw'%}">Change Password</a>
						</div>
					</li>
					{% endif %}
					
					<span>Current User: {{ request.session.user_name }} </span>
					{% if not request.session.user_name == none %}
						{% if not unread_message.count == 0 %}
							<a href="{% url 'manageApp-current'%}">
							<button class="btn btn-primary" type="button">
								New Messages <span class="badge">{{ unread_message.count }}</span>
								</button>
							</a>
						{% endif %}
					{% endif %}
				</ul>
				<!--Right Buttons-->
				<div>
					<span>
						{% if not request.session.user_name == none %}
							<a href="{% url 'logout'%}" class="btn btn-outline-light my-2 my-sm-0" >Log out</a>
						{% endif %}
							{% if request.session.user_name == none %}
						<button class="btn btn-outline-light my-2 my-sm-0" type="button" data-toggle="modal"
							data-target="#loginModal"
							onclick="document.getElementById('id02').style.display='block'">Sign Up</button>
						{% endif %}
					</span>
					<span>
							{% if request.session.user_name == none %}
						<button class="btn btn-outline-light my-2 my-sm-0" type="button"
							onclick="document.getElementById('id01').style.display='block'">Log In</button>
						{% endif %}
					</span>

					<!-- The Modal (contains the Sign Up form) -->

					<div id="id02" class="modal-login">
						<span onclick="document.getElementById('id02').style.display='none'" class="close"
							title="Close Modal">&times;</span>
						<form class="modal-content animate" action="/register/" method="post">
							<div class="container">
								{% csrf_token %}
								<h1>Sign Up</h1>
								<p>Please fill in this form to create an account.</p>
								<hr>
								<label for="username"><b>Email</b></label>
								<input type="text" placeholder="Enter Email" name="username" required>

								<label for="password1"><b>Password</b></label>
								<input type="password" placeholder="Enter Password" name="password1" required>


								<label for="password2"><b>Repeat Password</b></label>
								<input type="password" placeholder="Repeat Password" name="password2" required>

								<label for="id_role">Role:</label>
								<select name="role" id="id_role">
									<option value="student">Student</option>
									<option value="teacher">Teacher</option>
								</select>
								<div class="clearfix">
									<button type="submit" class="signup">Sign Up</button>
									<button type="button"
										onclick="document.getElementById('id02').style.display='none'"
										class="cancelbtn">Cancel</button>
								</div>
							</div>
						</form>
					</div>

					<!-- The Login Modal -->
					<div id="id01" class="modal-login" style="width:100%;">
						<span onclick="document.getElementById('id01').style.display='none'" class="close"
							title="Close Modal">&times;</span>

						<!-- Modal Content -->
						<form class="modal-content animate" action="/login/" method="post">
							{% csrf_token %}
							<div class="imgcontainer">
								<img src="{% static 'images/profile-demo.png' %}" alt="profile photo" class="avatar">
							</div>

							<div class="container">
								<label for="username"><b>Username</b></label>
								<input type="text" placeholder="Enter Username" name="username" required>

								<label for="password"><b>Password</b></label>
								<input type="password" placeholder="Enter Password" name="password" required>

								<button type="submit">Login</button>

								<button type="button" onclick="document.getElementById('id01').style.display='none'"
									class="cancelbtn">Cancel</button>

							</div>
						</form>
					</div>

					<!--Reset Password popup-->
					<form action="">
						<div class="modal fade" role="dialog" id="resetPw">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h3 class="modal-title">Reset Password</h3>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<div class="modal-body">
										<div class="form-group">
											<p>Enter your account's email address below and we will email you a link
												to
												reset your password with.</p>
										</div>
										<div class="form-group">
											<input type="email" name="email" class="form-control"
												placeholder="Email address">
										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-dark">Send Email</button>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
	</nav>

	<div class="company-image">
		<img src="{% static 'images/Cpmpany-1200x400.jpeg' %}" 
			class="img-fluid" 
			alt="Deadly Science"
			style="width: 100%;">
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!--Search bar-->
				<div class="mt-4">
					<h3 class="text-center mb-4">
						Find a scientist below...
					</h3>	
					<form class="needs-validation" action="/search/" method="post">
						{% csrf_token %}
						<div class="row ml-2">
							<div class="col-sm"  style="float:left;min-width:165px;_width:220px;">
								<input class="form-control mr-sm-2" type="search" placeholder="Search Name"
									aria-label="Search" name="searchBar">
							</div>
							<div class="col-sm" style="float:left;min-width:165px;_width:220px;">
								<select name="inputTitle" class="form-control">
									<option selected="selected">Title</option>
									<option value="assistant">Assistant</option>
									<option value="associate professor">Associate Professor</option>
									<option value="dr">Dr</option>
									<option value="lecturer">Lecturer</option>
									<option value="management">Management</option>
									<option value="phd">Phd</option>
									<option value="postdoc">Postdoc</option>
									<option value="professor">Professor</option>
									<option value="research assistant">Research Assistant</option>
									<option value="researcher">Researcher</option>
								</select>
							</div>

							<div class="col-sm"style="float:left;min-width:190px;_width:220px;">
								<select name="inputGender" class="form-control">
									<option selected="selected">Gender</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
									<option value="none">I'd rather not say.</option>
								</select>
							</div>

							<div class="col-sm"style="float:left;min-width:170px;_width:220px;">
								<select name="inputField" class="form-control">
									<option selected="selected">Field</option>
									<option value="agricultural science">Agricultural Science</option>
									<option value="anthropology">Anthropology</option>
									<option value="biology">Biology</option>
									<option value="computer science">Computer Science</option>
									<option value="engineering">Engineering</option>
									<option value="mathematics">Mathematics</option>
									<option value="physics">Physics</option>
									<option value="social science">Social Science</option>
								</select>
							</div>

							<div class="col-sm" style="float:left;min-width:200px;_width:220px;">
								<select name="inputLocation" class="form-control">
									<option selected="selected">Choose Location</option>
									<option value="america">America</option>
									<option value="australia">Australia</option>
									<option value="british">British</option>
									<option value="canada">Canada</option>
									<option value="china">China</option>
									<option value="france">France</option>
									<option value="germany">Germany</option>
									<option value="india">India</option>
									<option value="japan">Japan</option>
								</select>
							</div>

							<div class="col-sm" style="float:left;min-width:226px;_width:220px;">
								<select name="inputOrganization" class="form-control">
									<option selected="selected">Choose Organization</option>
									<option value="university of sydney">University of Sydney</option>
								</select>
							</div>

							<div class="col-sm">
								<button type="submit" class="btn btn-primary">Search</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Search Results -->
		<div class="row">

			<!--Scientist Catalogue-->
			<div class="col-sm-8">
				<div id="scientists-catalog">
					<!--First line-->
				{% if request.session.user_name == none %}

					{% if not current_search.exists %}

						<div class="container">
							<div class="row">
								<!--Card Group-->
								<div class="card-deck">
									{% for i in img %}
									<div class="card">
											<img src="{{i.img.url}}" width="240px" height="300px" alt="fault"/>
										<div class="card-body">
											<h6 class="card-title"><strong>{{ i.firstname }}   {{ i.lastname }}</strong></h6>
											<p class="card-text">{{ i.statement }}</p>
											<button class="btn btn-primary" type="button"
											onclick="document.getElementById('id01').style.display='block'">Detail</button>

										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if not current_search.count == 0 %}
							<div class="container">
								<div class="row">
									<!--Card Group-->
									<div class="card-deck">
										{% for i in current_search %}
										<div class="card">
											<img src="{{i.img.url}}" width="240px" height="300px" alt="fault"/>
											<div class="card-body">
												<h6 class="card-title"><strong>{{ i.firstname }}   {{ i.lastname }}</strong></h6>
												<p class="card-text">{{ i.statement }}</p>
												<button class="btn btn-primary" type="button"
												onclick="document.getElementById('id01').style.display='block'">Detail</button>
											</div>
										</div>
										{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}
				{% endif %}


					{% if not request.session.user_id == none %}
					{% if not current_search.exists %}

						<div class="container">
							<div class="row">
								<!--Card Group-->
								<div class="card-deck">
									{% for i in img %}
									<div class="card">
											<img src="{{i.img.url}}" width="240px" height="300px" alt="fault"/>
										<div class="card-body">
											<h6 class="card-title"><strong>{{ i.firstname }}   {{ i.lastname }}</strong></h6>
											<p class="card-text">{{ i.statement }}</p>
											<a href="{% url 'indexdetail'  i.id  %}" class="btn btn-primary" >Detail</a>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if not current_search.count == 0 %}
							<div class="container">
								<div class="row">
									<!--Card Group-->
									<div class="card-deck">
										{% for i in current_search %}
										<div class="card">
											<img src="{{i.img.url}}" width="240px" height="300px" alt="fault"/>
											<div class="card-body">
												<h6 class="card-title"><strong>{{ i.firstname }}   {{ i.lastname }}</strong></h6>
												<p class="card-text">{{ i.statement }}</p>
												<a href="{% url 'indexdetail'  i.id  %}" class="btn btn-primary" >Detail</a>
											</div>
										</div>
										{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}
				{% endif %}
					</div>
				</div>
		</div>
	</div>

	<footer class="footer bg-dark">
		<div class="container">
			<div class="row footer-content">
				<div class="col-md-4">
					<span>Phone: <strong>+00 000 000 000 </strong>|</span>
				</div>
				<div class="col-md-4">
					<span>Email: 
						<a href="mailto:DeadlyScience@gmail.com?subject=feedback"
						class="alert-link">DeadlyScience@gmail.com </a>
					</span>
				</div>
				<div class="col-md-4">
					<span>
						<a href="https://twitter.com/DeadlyScience" target="_blank">
							<img src="{% static 'images/twitterLogo.png' %}" alt="Twitter Logo" height="40px"/>
						</a>
					</span>
				</div>
			</div>
		</div>
	</footer>
	<!--Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>